<a href="https://colab.research.google.com/github/Kimeudan05/freecodecamp-intro-to-pandas/blob/master/2%20-%20Pandas%20Series%20exercises.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

![rmotr](https://user-images.githubusercontent.com/7065401/52071918-bda15380-2562-11e9-828c-7f95297e4a82.png)
<hr style="margin-bottom: 40px;">

# Pandas Series exercises

In [1]:
# Import the numpy package under the name np
import numpy as np

# Import the pandas package under the name pd
import pandas as pd

# Print the pandas version and the configuration
print(pd.__version__)

2.2.2

![purple-divider](https://user-images.githubusercontent.com/7065401/52071927-c1cd7100-2562-11e9-908a-dde91ba14e59.png)

## Series creation

### Create an empty pandas Series

In [2]:
# your code goes here
pd.Series()

Series([], dtype: object)

In [ ]:
pd.Series()

![green-divider](https://user-images.githubusercontent.com/7065401/52071924-c003ad80-2562-11e9-8297-1c6595f8a7ff.png)

### Given the X python list convert it to an Y pandas Series

In [4]:
# your code goes here
X = [1,2,3,5,8]
X = pd.Series(X,index=['a','b','c','d','e'])
X

a    1
b    2
c    3
d    5
e    8
dtype: int64

In [5]:
X = ['A','B','C']
print(X, type(X))

Y = pd.Series(X)
print(Y, type(Y)) # different type

['A', 'B', 'C'] <class 'list'>
0    A
1    B
2    C
dtype: object <class 'pandas.core.series.Series'>

![green-divider](https://user-images.githubusercontent.com/7065401/52071924-c003ad80-2562-11e9-8297-1c6595f8a7ff.png)

### Given the X pandas Series, name it 'My letters'

In [6]:
# your code goes here
X = pd.Series(['A','B','C'])
X.name= "My Letters"
X

0    A
1    B
2    C
Name: My Letters, dtype: object

In [ ]:
X = pd.Series(['A','B','C'])

X.name = 'My letters'
X

![green-divider](https://user-images.githubusercontent.com/7065401/52071924-c003ad80-2562-11e9-8297-1c6595f8a7ff.png)

### Given the X pandas Series, show its values

In [8]:
# your code goes here
X = pd.Series(['A','B','C'])
X.values

array(['A', 'B', 'C'], dtype=object)

In [ ]:
X = pd.Series(['A','B','C'])

X.values

![purple-divider](https://user-images.githubusercontent.com/7065401/52071927-c1cd7100-2562-11e9-908a-dde91ba14e59.png)

## Series indexation

### Assign index names to the given X pandas Series

In [9]:
# your code goes here
X = pd.Series([34,5,366,754],index=['Juma','Masila','Kilo','Jane'])
X

Juma       34
Masila      5
Kilo      366
Jane      754
dtype: int64

In [ ]:
X = pd.Series(['A','B','C'])
index_names = ['first', 'second', 'third']

X.index = index_names
X

![green-divider](https://user-images.githubusercontent.com/7065401/52071924-c003ad80-2562-11e9-8297-1c6595f8a7ff.png)

### Given the X pandas Series, show its first element

In [18]:
# your code goes here
X = pd.Series(['A','B','C'])
X.index =['kilo','jane','maxi']
X
X['kilo']
X.iloc[0]
# X[0]

'A'

In [ ]:
X = pd.Series(['A','B','C'], index=['first', 'second', 'third'])

#X[0] # by position
#X.iloc[0] # by position
X['first'] # by index

![green-divider](https://user-images.githubusercontent.com/7065401/52071924-c003ad80-2562-11e9-8297-1c6595f8a7ff.png)

### Given the X pandas Series, show its last element

In [20]:
# your code goes here
X = pd.Series(['A','B','C'], index=['first', 'second', 'third'])
X.iloc[-1]

'C'

In [ ]:
X = pd.Series(['A','B','C'], index=['first', 'second', 'third'])

#X[-1] # by position
#X.iloc[-1] # by position
X['third'] # by index

![green-divider](https://user-images.githubusercontent.com/7065401/52071924-c003ad80-2562-11e9-8297-1c6595f8a7ff.png)

### Given the X pandas Series, show all middle elements

In [21]:
# your code goes here
X = pd.Series(['A','B','C'], index=['first', 'second', 'third'])
X.iloc[1:-1]

second    B
dtype: object

In [ ]:
X = pd.Series(['A','B','C','D','E'],
              index=['first','second','third','forth','fifth'])

#X[['second', 'third', 'forth']]
#X.iloc[1:-1] # by position
X[1:-1] # by position

![green-divider](https://user-images.githubusercontent.com/7065401/52071924-c003ad80-2562-11e9-8297-1c6595f8a7ff.png)

### Given the X pandas Series, show the elements in reverse position

In [22]:
# your code goes here
X = pd.Series(['A','B','C'], index=['first', 'second', 'third'])
X.iloc[::-1]

third     C
second    B
first     A
dtype: object

In [ ]:
X = pd.Series(['A','B','C','D','E'],
              index=['first','second','third','forth','fifth'])

#X.iloc[::-1]
X[::-1]

![green-divider](https://user-images.githubusercontent.com/7065401/52071924-c003ad80-2562-11e9-8297-1c6595f8a7ff.png)

### Given the X pandas Series, show the first and last elements

In [24]:
# your code goes here
X = pd.Series(['A','B','C'], index=['first', 'second', 'third'])
X.iloc[[0,-1]]

first    A
third    C
dtype: object

In [ ]:
X = pd.Series(['A','B','C','D','E'],
              index=['first','second','third','forth','fifth'])

#X[['first', 'fifth']]
#X.iloc[[0, -1]]
X[[0, -1]]

![purple-divider](https://user-images.githubusercontent.com/7065401/52071927-c1cd7100-2562-11e9-908a-dde91ba14e59.png)

## Series manipulation

### Convert the given integer pandas Series to float

In [30]:
# your code goes here
X = pd.Series([12,34,53,54],dtype=float)
X

0    12.0
1    34.0
2    53.0
3    54.0
dtype: float64

In [31]:
X = pd.Series([1,2,3,4,5],
              index=['first','second','third','forth','fifth'])

pd.Series(X, dtype=float)

first     1.0
second    2.0
third     3.0
forth     4.0
fifth     5.0
dtype: float64

![green-divider](https://user-images.githubusercontent.com/7065401/52071924-c003ad80-2562-11e9-8297-1c6595f8a7ff.png)

### Reverse the given pandas Series (first element becomes last)

In [34]:
# your code goes here
X= pd.Series([1,4,6,8,5,3,8])
X.iloc[::-1]

6    8
5    3
4    5
3    8
2    6
1    4
0    1
dtype: int64

In [35]:
X = pd.Series([1,2,3,4,5],
              index=['first','second','third','forth','fifth'])

X[::-1]

fifth     5
forth     4
third     3
second    2
first     1
dtype: int64

![green-divider](https://user-images.githubusercontent.com/7065401/52071924-c003ad80-2562-11e9-8297-1c6595f8a7ff.png)

### Order (sort) the given pandas Series

In [42]:
# your code goes here
X = pd.Series([4,2,5,1,3],
              index=['forth','second','fifth','first','third'])
X.sort_values()

first     1
second    2
third     3
forth     4
fifth     5
dtype: int64

In [ ]:
X = pd.Series([4,2,5,1,3],
              index=['forth','second','fifth','first','third'])

X = X.sort_values()
X

![green-divider](https://user-images.githubusercontent.com/7065401/52071924-c003ad80-2562-11e9-8297-1c6595f8a7ff.png)

### Given the X pandas Series, set the fifth element equal to 10

In [44]:
# your code goes here
X = pd.Series([1,2,3,4,5],
              index=['A','B','C','D','E'])
X.iloc[4] = 10
X

A     1
B     2
C     3
D     4
E    10
dtype: int64

In [45]:
X = pd.Series([1,2,3,4,5],
              index=['A','B','C','D','E'])

X[4] = 10
X

/tmp/ipython-input-4063770036.py:4: FutureWarning: Series.__setitem__ treating keys as positions is deprecated. In a future version, integer keys will always be treated as labels (consistent with DataFrame behavior). To set a value by position, use `ser.iloc[pos] = value`
  X[4] = 10

A     1
B     2
C     3
D     4
E    10
dtype: int64

![green-divider](https://user-images.githubusercontent.com/7065401/52071924-c003ad80-2562-11e9-8297-1c6595f8a7ff.png)

### Given the X pandas Series, change all the middle elements to 0

In [51]:
# your code goes here
X = pd.Series([1,2,3,4,5],
              index=['A','B','C','D','E'])
X.iloc[1::2] =0 # all in odd positions
X.iloc[1:-1] = 0
X

A    1
B    0
C    0
D    0
E    5
dtype: int64

In [50]:
X = pd.Series([1,2,3,4,5],
              index=['A','B','C','D','E'])

X[1:-1] = 0
X

A    1
B    0
C    0
D    0
E    5
dtype: int64

![green-divider](https://user-images.githubusercontent.com/7065401/52071924-c003ad80-2562-11e9-8297-1c6595f8a7ff.png)

### Given the X pandas Series, add 5 to every element

In [53]:
# your code goes here
X = pd.Series([1,2,3,4,5],
              index=['A','B','C','D','E'])
X +=5
X

A     6
B     7
C     8
D     9
E    10
dtype: int64

In [ ]:
X = pd.Series([1,2,3,4,5])

X + 5

![purple-divider](https://user-images.githubusercontent.com/7065401/52071927-c1cd7100-2562-11e9-908a-dde91ba14e59.png)

## Series boolean arrays (also called masks)

### Given the X pandas Series, make a mask showing negative elements

In [54]:
# your code goes here
X= pd.Series([-1,43,-75,-4,4,35,24,8,76])
mask = X<0
mask

0     True
1    False
2     True
3     True
4    False
5    False
6    False
7    False
8    False
dtype: bool

In [ ]:
X = pd.Series([-1,2,0,-4,5,6,0,0,-9,10])

mask = X <= 0
mask

![green-divider](https://user-images.githubusercontent.com/7065401/52071924-c003ad80-2562-11e9-8297-1c6595f8a7ff.png)

### Given the X pandas Series, get the negative elements

In [59]:
# your code goes here
# X[mask]
X.loc[mask]

0    -1
2   -75
3    -4
dtype: int64

In [ ]:
X = pd.Series([-1,2,0,-4,5,6,0,0,-9,10])

mask = X <= 0
X[mask]

![green-divider](https://user-images.githubusercontent.com/7065401/52071924-c003ad80-2562-11e9-8297-1c6595f8a7ff.png)

### Given the X pandas Series, get numbers higher than 5

In [61]:
# your code goes here
X= pd.Series([2,43,63,7,2,64,74,3,52,7,4,15])
X.loc[X>5]

1     43
2     63
3      7
5     64
6     74
8     52
9      7
11    15
dtype: int64

In [62]:
X = pd.Series([-1,2,0,-4,5,6,0,0,-9,10])

mask = X > 5
X[mask]

5     6
9    10
dtype: int64

![green-divider](https://user-images.githubusercontent.com/7065401/52071924-c003ad80-2562-11e9-8297-1c6595f8a7ff.png)

### Given the X pandas Series, get numbers higher than the elements mean

In [65]:
# your code goes here
X= pd.Series([2,43,63,7,2,64,74,3,52,7,4,15])
mask = X > X.mean()
X[mask]

1    43
2    63
5    64
6    74
8    52
dtype: int64

In [ ]:
X = pd.Series([-1,2,0,-4,5,6,0,0,-9,10])

mask = X > X.mean()
X[mask]

![green-divider](https://user-images.githubusercontent.com/7065401/52071924-c003ad80-2562-11e9-8297-1c6595f8a7ff.png)

### Given the X pandas Series, get numbers equal to 2 or 10

In [72]:
# your code goes here
X= pd.Series([2,43,63,7,2,64,74,3,52,7,10,15])
# X[(X ==2) | (X ==10)]
mask =(X == 2) | (X ==10)
X[mask]

0      2
4      2
10    10
dtype: int64

In [ ]:
X = pd.Series([-1,2,0,-4,5,6,0,0,-9,10])

mask = (X == 2) | (X == 10)
X[mask]

![purple-divider](https://user-images.githubusercontent.com/7065401/52071927-c1cd7100-2562-11e9-908a-dde91ba14e59.png)

## Logic functions

### Given the X pandas Series, return True if none of its elements is zero

In [76]:
# your code goes here
X = pd.Series([-1,2,0,-4,5,6,0,0,-9,10])
X.all() # True if all are non -Zero

np.True_

In [ ]:
X = pd.Series([-1,2,0,-4,5,6,0,0,-9,10])

X.all()

![green-divider](https://user-images.githubusercontent.com/7065401/52071924-c003ad80-2562-11e9-8297-1c6595f8a7ff.png)

### Given the X pandas Series, return True if any of its elements is zero

In [77]:
# your code goes here
X = pd.Series([-1,2,0,-4,5,6,0,0,-9,10])
X.any() # True if one or more are non-Zero

np.True_

In [ ]:
X = pd.Series([-1,2,0,-4,5,6,0,0,-9,10])

X.any()

![purple-divider](https://user-images.githubusercontent.com/7065401/52071927-c1cd7100-2562-11e9-908a-dde91ba14e59.png)

## Summary statistics

### Given the X pandas Series, show the sum of its elements

In [79]:
# your code goes here
X = pd.Series([-1,2,0,-4,5,6,0,0,-9,10])
X.sum()
# np.sum(X)

np.int64(9)

In [ ]:
X = pd.Series([3,5,6,7,2,3,4,9,4])

#np.sum(X)
X.sum()

![green-divider](https://user-images.githubusercontent.com/7065401/52071924-c003ad80-2562-11e9-8297-1c6595f8a7ff.png)

### Given the X pandas Series, show the mean value of its elements

In [82]:
# your code goes here
X = pd.Series([-1,2,0,-4,5,6,0,0,-9,10])
X.mean()
#or
# np.mean(X)

np.float64(0.9)

In [ ]:
X = pd.Series([1,2,0,4,5,6,0,0,9,10])

#np.mean(X)
X.mean()

![green-divider](https://user-images.githubusercontent.com/7065401/52071924-c003ad80-2562-11e9-8297-1c6595f8a7ff.png)

### Given the X pandas Series, show the max value of its elements

In [84]:
# your code goes here
X = pd.Series([-1,2,0,-4,5,6,0,0,-9,10])
X.max()

10

In [ ]:
X = pd.Series([1,2,0,4,5,6,0,0,9,10])

#np.max(X)
X.max()

![purple-divider](https://user-images.githubusercontent.com/7065401/52071927-c1cd7100-2562-11e9-908a-dde91ba14e59.png)